body {
            font-family: Arial;
            padding: 15px;
            max-width: 500px;
            margin: auto;
        }

        input,
        button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            font-size: 16px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background: #f2f2f2;
        }

        .total {
            margin-top: 10px;
            font-weight: bold;
            font-size: 18px;
        }
